h1{
    font-size: 4.5rem;
    text-align: center;
    padding: 2rem;
}
h2{
    font-size: 2rem;
}
.summary-heading{
    max-width: 86%;
    margin: 0.5rem auto;
}
#team-summary{
    max-width: calc(86% - 2rem);
    margin: 0.5rem auto;
    font-size: 1.5rem;
}
#team-summary p{
    padding: 0.1rem;
}
.tshirtcolor{
    display: grid;
    grid-template-columns: max-content max-content 1fr;
}
.tshirtcolor.active > *:nth-child(2){
    display: none;
}
.tshirtcolor.active > *:nth-child(3){
    display: block !important;
}
.members-title-container{
    width: 86%;
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    margin: 1rem auto;
}
#add-member-btn{
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: solid 3px black;
    cursor: pointer;
}
#add-member-btn:hover{
    color: blue;
}
#members-container{
    font-size: 1.5rem;
    margin: 2rem 7%;
    border-radius: 10px;
    border: solid 5px black;
}
#members-container > div{
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 1fr;
    column-gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-bottom: solid 2px black;
}
#members-container > div > p{
    padding: 0.5rem;
    min-width: 100px;
    min-height: 1rem;
    cursor: pointer;
}
#members-container > div > select{
    text-align: center;
    font-size: 1.1rem;
    padding: 0.2rem;
    margin: 0.3rem 0.4rem;
}
#members-container > div > *:nth-child(2), #members-container > div > *:nth-child(3), #members-container > div > *:nth-child(4){
    border-left: solid 2px black;
}
#new-member-supercontainer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.new-member-container{
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}
h3{
    font-size: 3rem;
    text-align: center;
    margin: 1rem auto;
}
.personal-info-inputs p, .role-tshirt-inputs p{
    font-size: 1.5rem;
    padding: 0.5rem;
}
.personal-info-inputs input{
    width: calc(100% - 1.6rem);
    font-size: 1.5rem;
    padding: 0.3rem;
    margin: 0.5rem;
}
.role-tshirt-inputs{
    display: grid;
    grid-template-columns: 1fr max-content;
}
.role-tshirt-inputs select{
    font-size: 1.5rem;
    background-color: white;
    padding: 0.3rem;
    border-radius: 10px;
    border: solid 2px black;
    margin: 0.5rem;
    width: calc(100% - 1.6rem - 4px);
}
.batch-member-upload-container > div{
    width: max-content;
    margin: auto;
}
.batch-member-upload-container input{
    font-size: 1.3rem;
}
.actions-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-top: 1rem;
}
.actions-container div{
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
#cancel-btn{
    color: white;
    background-color: red;
}
#submit-btn{
    color: white;
    background-color: green;
}